@model IEnumerable<CompanyViewModel>
@{
    Layout = "_Layout";
}
<div class="workerList table-responsive">
    <form name="find" method="get" asp-controller="Company" asp-action="List" class="param_workers">
        <input class="form-control" name="company.Id" type="text" placeholder="Id компании:" />
        <input class="form-control" name="company.Name" type="text" placeholder="Наименование компании:" />
        <div class="findbutton">
            <button class="btn btn-success" type="submit">
                Поиск
            </button>
        </div>
    </form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Наименование</th>
                <th class="text-center" scope="col">Размер компании</th>
                <th class="text-center" scope="col">Организационно-правовая форма</th>
            </tr>
        </thead>
        <tbody id="editCompany">
            @foreach (var company in Model)
            {
                <tr class="editRow">
                    <th class="rowId text-center">@company.Id</th>
                    <td class="text-center">@company.Name</td>
                    <td class="text-center">@company.Workers?.Count()</td>
                    <td class="text-center">@company.FormType.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>